body{
    margin: 0;
    padding: 0;
    background-color: rgb(15, 15, 15);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 1.25;
    min-height: calc(3000px+100vh);
}

section.book{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

section.content{

    width: 50%;
    max-width: 600px;
    padding: 32px;
    position: relative;
    z-index: 1;
    color: aliceblue;

}
/* 目一杯スペースを取る */
section.content>h1{
    white-space: nowrap;
}

section.content>a{
    color: orange;
}