body{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    background-color: rgb(15, 15, 15);
}

div.preface>h1{
    font-size: 50pt;
    font-weight: 800;
    color:white;
    text-align: center;
}
div.preface>p{
    font-size: 20pt;
    font-weight: 800;
    color:white;
    text-align: center;
}

div.transit{
    margin-top: 300px;
    margin-bottom: 300px;
}

div.transit>h1{
    font-size: 36pt;
    font-weight: 800;
    color:white;
    text-align: center;
}


div.introduction{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 350px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div.introduction:nth-child(odd){
    flex-direction: row-reverse;
}

div.introduction:nth-child(odd) .plname{
    font-size: 48px;
    font-weight: 800;
    color: yellow;
}

div.introduction:nth-child(odd) .player{
    font-size: 32px;
    font-weight: 300;
    color: white;
}
div.introduction:nth-child(even) .plname{
    font-size: 48px;
    font-weight: 800;
    color: yellow;
}

div.introduction:nth-child(even) .player{
    font-size: 32px;
    font-weight: 300;
    color: white;
}
.image{
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
    width:100%;
}

.fadein-before{
    opacity: 0;
    transition: opacity 1s, transform 1s;
    transform: translateX(-250px);
}

.fadein-after{
    opacity: 1;
    transform: translate(0);
}