body{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    background-color: rgb(15, 15, 15);
}

div.preface>h1{
    font-size: 50pt;
    font-weight: 800;
    color:white;
    text-align: center;
}
div.preface>p{
    font-size: 20pt;
    font-weight: 800;
    color:white;
    text-align: center;
}

div.transit{
    margin-top: 300px;
    margin-bottom: 300px;
}

div.transit>h1{
    font-size: 36pt;
    font-weight: 800;
    color:white;
    text-align: center;
}


div.introduction{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 350px;
    display:flex;
    flex-direction: row;
}

div.introduction:nth-child(odd){
    flex-direction: row-reverse;
}

div.introduction:nth-child(odd) .plname{
    font-size: 30px;
    font-weight: 800;
    color: yellow;
}

div.introduction:nth-child(odd) .player{
    font-size: 18px;
    font-weight: 300;
    color: white;
}
div.introduction:nth-child(even) .plname{
    font-size: 30px;
    font-weight: 800;
    color: yellow;
}

div.introduction:nth-child(even) .player{
    font-size: 18px;
    font-weight: 300;
    color: white;
}
.image{
    margin-top: 80px;
    margin-left: 15px;
    margin-right: 15px;
    width:100%;
}

.fadein-before_Odd{
    opacity: 0;
    transition: opacity 1s, transform 1s;
    transform: translateX(-250px);
}

.fadein-after_Odd{
    opacity: 1;
    transform: translate(0);
}

.fadein-before_Even{
    opacity: 0;
    transition: opacity 1s, transform 1s;
    transform: translateX(250px);
}

.fadein-after_Even{
    opacity: 1;
    transform: translate(0);
}

div.closing{
    color: white;
    font-size: 25px;
}

/* For purchase.html */
div.sales>h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 46px;
}
div.sales>p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 28px;
}
div.purchase{
	display:table;
    margin-left: 15px;
}
dl{
	display:table-row;
}
dt,dd{
	display:table-cell;
    color: yellow;
    font-size: 28px;
    font-weight: 600;
}
dd>input{
    margin-left: 15px;
}
button#order{
    margin-top: 45px;
    margin-left: 80px;
    padding: 12px;
    font-size: 20px;
    font-weight: 300;
    background-color: orange;
}
button#cancel{
    margin-top: 45px;
    margin-left: 80px;
    padding: 12px;
    font-size: 20px;
    font-weight: 300;
    background-color: orange;
}